@font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html > body, html > body .toast-ui-editor .ProseMirror, html > body .toastui-editor-contents {
	font-family: 'NPSfontBold';
	text-underline-position: under;
}

html > body .toast-ui-editor .ProseMirror, html > body .toastui-editor-contents {
	font-size: 12.5rem;	
}


.border-bottom-line {
	border-bottom: 1px solid #afafaf;
}

.modal-exam, .popUp-exam {
	font-size: 2rem;
}

.layer, .layer-bg {
	display: none;
}

.layer-bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgb(0, 0, 0, 5);
	
}

.layer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translatX(-50%) translateY(-50%);
	color: white;
	background-color: darkseagreen;
	width: 500px;
	height: 500px;
	border: 5px solid red;
}

.layer > h1 {
	font-size: 2rem;
	padding: 15px;
}

.layer > div {
	padding: 20px;
}

.layer > button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	
}

.layer > close-btn-x {
	font-size: 4rem;
	position: absolute;
	top: -10px;
	right: 15px;
	cursor: pointer;
	color: black;
}